/**
 * Master Stylesheet
 * Imports all modular CSS files
 */

@import url('./base.css');
@import url('./animations.css');
@import url('./layout.css');
@import url('./buttons.css');
@import url('./forms.css');
@import url('./tabs.css');
@import url('./player.css');
@import url('./modals.css');
@import url('./components.css');
@import url('./transcription.css');